/*Universal Style*/
body {
    background-color: #DFD5C9;
    color: #5E4B2E;
    font-family: 'Karla', sans-serif;
    margin: 0 auto;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Spectral', serif;
    line-height: 80%;
}

/*Header Section*/
header {
    background-color: #DFD5C9;
    border-bottom: 2px solid #5E4B2E;
    padding: 20px;
    position: fixed;
    height: 30px;
    width: 100%;
    z-index: 1;
    font-size: 1.25rem;
}

header span {
    padding: 0 20px;
}

.logo {
    font-family: 'Gaegu', cursive;
    font-size: 1.75rem;
    color: #E18B22;
    display: inline;
}

/*Jumbotron Section*/

main {
    background-color:#E3DBB9;
}

.banner {
    background-color: #33A195;
    text-align: center;
    padding: 50px;
}

.jumbotron-header {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.jumbotron-header h1 {
    color: #E3DBB9;
    font-size: 3.5rem;
    line-height: 90%;
}

/*.jumbotron-header form {
    height: 50px;
}*/

.jumbotron-header button {
    background-color: #5E4B2E;
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    color: #E3DBB9;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 50px;
}

.content-section {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.content-section h1 {
    font-size: 2rem;
}

.introverts-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.introverts-do {
    margin: 10px 20px;
    max-width: 300px;
}

.introverts-do img {
    width: 300px;
    height: 200px;
}

/*Footer Section*/

footer {
    margin: 10px 0;
    padding: 50px 50px 20px 50px;
    text-align: right;
}

footer span {
    color: #33A195;
}

.footer-grid {
    width: 80%;
    padding: 25px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    text-align: left;
}    

.footer-grid ul {
    padding-left: 0;
    list-style: none;
    font-size: 1.25rem;
}

.about {
    grid-column: 1 / 2;
}

.community {
    grid-column: 2 / 3;
}

.support {
    grid-column: 3 / 4;
}

.contact {
    grid-column: 4 / span 1;
}

@media(max-width:600px) {
    header span {
        display: none;
    }

    .logo {
        display: block;
    }

    .jumbotron-header h1 {
       font-size: 2.5rem;
    }
    
    .footer-grid {
        width: 80%;
        padding: 25px 50px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:repeat(4, 1fr);
        grid-row-gap: 20px;
        text-align: left;
    }     

    .about {
        grid-row: 1 / 2;
        grid-column: 1 / span 1;
    }
    
    .community {
        grid-row: 2 / 3;
        grid-column: 1 / span 1;

    }
    
    .support {
        grid-row: 3 / 4;
        grid-column: 1 / span 1;
    }
    
    .contact {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;

}